.header-container {
  height: 70px;
  box-shadow: 0px 2px 6px 0 rgba(88, 92, 101, 0.3);
  background-color: #000000;
  color: #fff;
}
mat-card {
  padding:0px !important;
  border-radius: 0px !important;
}
.full-width {
  width:100%
}
p {
  margin-bottom: 0px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.bg-div {
  text-align: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #6589a9 !important;
  color: #fff !important;
  .material-icons {
    color: #fff !important;
    margin-top: 0.3rem;
    text-align: center;
  }
}