<!-- <section fxFlex="100"> -->
<mat-card fxFlex="100" class="header-container">
  <div class="full-width" fxLayout="row">
    <div fxFlex="30">
      <h2 class="ml-1">PLN</h2>
    </div>
    <div
      class="mr-1"
      fxLayoutAlign="end center"
      fxLayoutGap="4%"
      fxHide.xs
      fxFlex="70"
      fxLayout="row"
    >
      <mat-badge matBadge="4">
        <mat-icon class="material-icons"> notifications_none </mat-icon>
      </mat-badge>

      <div fxLayout="row">
        <div class="bg-div">
          <mat-icon class="material-icons"> person </mat-icon>
        </div>
        <p>Abhi Golhar</p>
      </div>

      <mat-icon class="material-icons"> logout </mat-icon>
    </div>
  </div>
</mat-card>
<!-- </section> -->
