<section fxLayout="column" class="main-section">
  <app-header></app-header>

  <div fxFlex="100" fxLayout="column" ngClass="profile-section" ngClass.xs="profile-section_xs">
    <mat-card fxFlex="100" class="bg-image">
      <mat-card-title>
        <img src="/assets/banner-prof.png" class="full-width" />
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="name-bg-div">
           <p>AG</p>
          </div>
        </div>

        <h1 class="username"> Abhi Golhar</h1>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Personal Information">
          <mat-card class="info-card">
            <mat-card-title class="basic-info">Basic Information</mat-card-title>
            <mat-card-content class="info-content" fxLayout="column">
              <!-- first row -->
              <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="5%">
                <div fxLayout="row" fxFlex="50">
                  <div class="bg-div">
                    <mat-icon class="material-icons">
                      person
                    </mat-icon>
                  </div>
                  <div>
                    <p>Abhi</p>
                    <span>First Name</span>
                  </div>
                  <div>
                    <p>Golhar</p>
                    <span>Last Name</span>
                  </div>
                </div>
                <div fxLayout="row" fxFlex="50" >
                  <div class="bg-div">
                    <mat-icon class="material-icons">
                      email
                    </mat-icon>
                  </div>
                  <div>
                    <p>
                      abhi@abhigolhar.com
                    </p>
                    <span>
                      Email
                    </span>
                  </div>
                </div>
              </div>
              <!-- second row -->
              <div class="mt-1" fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="5%">
                <div fxLayout="row" fxFlex="50">
                  <div class="bg-div">
                    <mat-icon class="material-icons">
                      phone
                    </mat-icon>
                  </div>
                  <div>
                    <p>(+1) (123)-456-7891</p>
                    <span>Phone Number</span>
                  </div>
                </div>
                <div fxLayout="row" fxFlex="50">
                  <div class="bg-div">
                    <mat-icon class="material-icons">
                      add_location
                    </mat-icon>
                  </div>
                  <div>
                    <p>
                      Chicago
                    </p>
                    <span>
                      City
                    </span>
                  </div>
                  <div>
                    <p>
                      Illinois
                    </p>
                    <span>
                      State
                    </span>
                  </div>
                  <div>
                    <p>
                      60607
                    </p>
                    <span>
                      Zip Code
                    </span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Organisation Information">Organisation Information</mat-tab>
        <mat-tab label="Change Password">Change Password</mat-tab>

        <mat-tab label="">
          <button fxLayoutAlign="end end" class="edit-button right">
            <mat-icon class="material-icons">
              edit
            </mat-icon>
            Edit Profile
          </button>
        </mat-tab>

      </mat-tab-group>
    </mat-card>
  </div>
</section>